body {
    background-color: salmon;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > nav {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

header > nav > button {
    font-size: 24px;
    color: salmon;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    border: 0;
}

#content {
    display: grid;
    justify-content: center;
    align-items: center;   
}

#home-content > h1 {
    margin: 0;
    padding: 16px;
}

#menu-content {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 16px;
    justify-content: center;
    align-items: center;
}

#content > div {
    font-size: 24px;
    color: black;
}