body {
    background-color: black;
    display: grid;
    grid-template-rows: 100px minmax(750px,1fr) 100px;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
}

header > nav {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

header > nav > button {
    font-size: 24px;
    color: orangered;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    border: 0;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;   
}

#home-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#home-content > img {
    border: 2px solid orangered;
    border-radius: 5px;
}

#home-content > h1 {
    color: orangered;
}

#menu-content {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 16px;
    justify-content: center;
    align-items: center;
}

#menu-content > h2 {
    grid-column: 1 / -1;
    color: orangered;
    justify-self: center;
}

#menu-content > img {
    border: 2px solid orangered;
    border-radius: 5px;
    justify-self: center;
    align-self: center;
}

#about-content {
    display: grid;
    justify-content: center;
    align-items: center;
    color: orangered;
}

footer {
    background-color: orangered;
}